version: "3.9"
services:
  api:
    build: .
    container_name: paywave_api
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: paywave_db
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    command: celery -A app.core.celery_app.celery worker --loglevel=info
    depends_on:
      - api
      - redis
      - db

  celery_beat:
    build: .
    command: celery -A app.core.celery_app.celery beat --loglevel=info
    depends_on:
      - api
      - redis
      - db